{% extends "base.html" %}
{% block conteudo %}  
    <form action="/start_pred" method="post"}>
        <label for="salario" id="salario" name="salario">Salário</label><br>
        <input type="number" min="0"><br>

        <label for="divida" id="divida" name="divida">Dívida</label><br>
        <input type="number" min="0"><br>

        <label for="idade" id="idade" name="idade">Idade</label><br>
        <input type="number" min="0" max="130"><br>
        <button type="submit">Enviar</button>
    </form>

{% endblock %}